<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar Bus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Daftar Bus</h1>

	<div th:if="${#lists.isEmpty(dataBus)}">
        Data Bus tidak ada
    </div>
	
	<table class="table table-hover" th:unless="${#lists.isEmpty(dataBus)}">
        <thead>
        <tr>
        	<td>No</td>
            <td>Bus</td>
            <td>Jumlah kursi</td>
            <td>Lokasi</td>
            <td>Waktu Keberangkatan</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c,indexData : ${dataBus}">
        	<td th:text="${indexData.index}+1">1</td>
            <td th:text="${c.name}">Test name</td>
            <td th:text="${c.seat_total}">Test seat total</td>
            <td th:text="${c.location}">Test location</td>
            <td th:text="${c.departure_time}">Test Dept Time</td>
        </tr>
        </tbody>
    </table>

</body>
</html>