<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<h3>BLI Companion</h3>
		<ul class="list-inline">
			<li><a th:href="${host_bus}">Jadwal Bus</a></li>
			<li><a th:href="${host_lunch}">Menu Makanan</a></li>
			<li><a th:href="${host_course}">Jadwal Kelas</a></li>
		</ul>
	</div>

</body>
</html>
