<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Daftar Makanan</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Daftar Makanan</h1>

	<div th:if="${#lists.isEmpty(dataMakanan)}">Data Makanan tidak ada</div>
	<div th:if="${output!=null}">
		<p th:text="${output}"></p>
	</div>
	<table class="table table-hover"
		th:unless="${#lists.isEmpty(dataMakanan)}">
		<thead>
			<tr>
				<td>No</td>
				<td>Makanan</td>
				<td>Jumlah</td>
				<td>Hari</td>
				<td>Pesan</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c,indexData : ${dataMakanan}">
				<td th:text="${indexData.index}+1">1</td>
				<td th:text="${c.makanan}">Test makanan</td>
				<td th:text="${c.jumlah}">Test jumlah</td>
				<td th:text="${c.hari}">Test hari</td>
				<td>
					<form th:action="@{/lunch/book(id=${c.id})}" method="POST">
						<button name="id" type="submit" class="btn btn-default">Book</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>