<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Daftar Bus</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Daftar Course</h1>


	<div th:if="${dataCourseDetail.subject==null}">Data Course tidak
		ada</div>

	<table class="table table-hover"
		th:if="${dataCourseDetail.subject!=null}">
		<tbody>
			<tr>
				<td>Materi</td>
				<td th:text="${dataCourseDetail.subject}">Test subject</td>
			</tr>
			<tr>
				<td>Lokasi</td>
				<td th:text="${dataCourseDetail.location}">Test location</td>
			</tr>
			<tr>
				<td>Trainer</td>
				<td
					th:text="${dataCourseDetail.idTrainer + '-' + dataCourseDetail.trainerName}">Test
					trainer</td>
			</tr>
			<tr>
				<td>Tanggal</td>
				<td th:text="${dataCourseDetail.courseDate}">Test course date</td>
			</tr>
			<tr>
				<td>Peserta</td>
				<td>
					<table class="table table-hover" th:if="${#lists.isEmpty(traineeList)}">
						<thead>
							<tr>
								<td>No</td>
								<td>Nama</td>
							</tr>
						</thead>
						<tbody>
							<tr></tr>
							<tr>Tidak ada peserta yang terdaftar</tr>
						</tbody>
					</table>
					<table class="table table-condensed" th:unless="${#lists.isEmpty(traineeList)}">
						<thead>
							<tr>
								<td>No</td>
								<td>Nama</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c,indexData : ${traineeList}">
								<td th:text="${indexData.index}+1">1</td>
								<td th:text="${c.nama}">Test subject</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>