<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Daftar Bus</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Daftar Course</h1>

	<div th:if="${#lists.isEmpty(dataCourse)}">Data Course tidak ada
	</div>

	<table class="table table-hover"
		th:unless="${#lists.isEmpty(dataCourse)}">
		<thead>
			<tr>
				<td>No</td>
				<td>Materi</td>
				<td>Lokasi</td>
				<td>Trainer</td>
				<td>Tanggal</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c,indexData : ${dataCourse}">
				<td th:text="${indexData.index}+1">1</td>
				<td th:text="${c.subject}">Test subject</td>
				<td th:text="${c.location}">Test location</td>
				<td th:text="${c.idTrainer + '-' + c.trainerName}">Test trainer</td>
				<td th:text="${c.courseDate}">Test course date</td>
				<td>
					<form th:action="@{/course/detail(id=${c.idCourse})}" method="POST">
						<button name="id" type="submit" class="btn btn-default">Detail</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>